##
## Global settings
##
CACHE_DIRECTORY_PATH=cora_cache   # Directory saving caches (like indices) of CodeFuse RepoAgent (CoRA)
SANITIZE_CONTENT_IN_REPOSITORY=0  # Set this to "1" to sanitize sensitive information (e.g., email addresses, password)

##
## OpenAI Settings: Set these if you prefer to using OpenAI
##
OPENAI_API_KEY=sk-xxx             # Your API key in OpenAI
OPENAI_ORG_ID=bk-xxx              # Your organization ID in OpenAI

##
## Anthropic Settings: Set these if you prefer to using Anthropic
##
ANTHROPIC_API_KEY=xx-xxx          # Your API key in Anthropic

##
## HuggingFace Settings: Set these if you prefer to using HuggingFace
##
HF_DATASETS_OFFLINE=1             # Disable HuggingFace's online accessing to datasets
TRANSFORMERS_OFFLINE=1            # Disable HuggingFace's online accessing to models
TOKENIZERS_PARALLELISM=false      # Disable tokenizer's parallelism

##
## EasyDeploy Settings: Set these if you prefer to using EasyDeploy
##
EASYDEPLOY_ENDPOINT=https://xxx   # Endpoint
